[submodule "external/HELICS"]
	path = external/HELICS
	url = https://github.com/GMLC-TDC/HELICS.git
[submodule "external/gridlab-d"]
	path = external/gridlab-d
	url = https://github.com/gridlab-d/gridlab-d.git
[submodule "external/dnp3"]
	path = external/dnp3
	url = https://github.com/stepfunc/dnp3.git
[submodule "HELICS"]
	path = HELICS
	url = git@github.com:cps-vip/HELICS.git
